<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>비밀번호찾기</title>

	<!-- CSS -->
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- Bootstrap Styles-->
	<link href="../assets/css/bootstrap.css" rel="stylesheet" />
	<link rel="stylesheet" href="../assets/materialize/css/materialize.min.css" media="screen,projection" />
	<!-- FontAwesome Styles-->
	<link href="../assets/css/font-awesome.css" rel="stylesheet" />
	<!-- Morris Chart Styles-->
	<link href="../assets/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
	<!-- Custom Styles-->
	<link href="../assets/css/custom-styles.css" rel="stylesheet" />
	<!-- Google Fonts-->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href="../assets/js/Lightweight-Chart/cssCharts.css">
	<link rel="stylesheet" href="../assets/css/style.css">

	<!-- Favicon and touch icons -->
	<link rel="shortcut icon" href="../assets/img/LCM-logo.svg">
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
	
	<style>
		@media screen and (min-width: 601px) {.container {width: 620px;}}
		@media screen and (min-width: 993px) {.container {width: 620px;}}
	</style>
</head>

<body>
	<!-- Top content -->
	<div class="top-content">
		<div class="inner-bg">
			<div class="container">
				<div class="row">
					<div class="col-sm-0">
						<div class="form-box-none">
							<div class="form-top-center">
								<img src="../assets/img/LCM-namelogo-02.svg" style="width: 30%;">
							</div>
							<div class="form-bottom">
								<div class="row">
									<div class="input-field col s12">
										<h3>비밀번호찾기</h3>
									</div>
								</div>
								<div class="row">
									<div class="input-field col s12">
										비밀번호를 찾고자 하는 LCM 이메일 ID를 입력해주시면
									</div>
									<div class="col s12">
										해당 메일 주소로 비밀번호 재설정 링크를 보내드립니다.
									</div>
								</div>
								<div class="row">
									<div class="input-field col s12">
										<input id="email" type="email" class="validate" autocomplete="off">
										<label for="email">이메일 주소</label>
									</div>
								</div>
								<div class="row">
									<div class="social-login-buttons" style="display: flex;">
										<button type="submit" class="btn btn-large col s12">이메일 보내기</button>
									</div>
								</div>
								<a href="/member/login">로그인으로 돌아가기</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Footer -->
	<footer>
		<div class="container">
			<div class="row">

				<div class="col-sm-8 col-sm-offset-2">
					<div class="footer-border"></div>
					<p>Shared by <i class="fa fa-love"></i><a href="https://bootstrapthemes.co">LCM</a></p>
				</div>

			</div>
		</div>
	</footer>

	<!-- Javascript -->
	<script src="../assets/js/jquery-1.11.1.min.js"></script>
	<script src="../assets/js/jquery.backstretch.min.js"></script>
	<script src="../assets/js/scripts.js"></script>
	<script src="../assets/js/jquery-1.10.2.js"></script>

	<!-- Bootstrap Js -->
	<script src="../assets/js/bootstrap.min.js"></script>

	<script src="../assets/materialize/js/materialize.min.js"></script>

	<!-- Metis Menu Js -->
	<script src="../assets/js/jquery.metisMenu.js"></script>
	<!-- Morris Chart Js -->
	<script src="../assets/js/morris/raphael-2.1.0.min.js"></script>
	<script src="../assets/js/morris/morris.js"></script>

	<script src="../assets/js/easypiechart.js"></script>
	<script src="../assets/js/easypiechart-data.js"></script>
	<script src="../assets/js/Lightweight-Chart/jquery.chart.js"></script>

	<!-- Custom Js -->
	<script src="../assets/js/custom-scripts.js"></script>

</body>
</html>