
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!-- head-->
<th:block th:fragment="sidebarFragment">

    <nav class="navbar-default navbar-side" role="navigation">
			<div class="sidebar-collapse">
				<ul class="nav" id="main-menu">
					<li><a href="/index" class="waves-effect waves-dark"><i class="fa fa-dashboard"></i> Dashboard</a></li>
					<li><a href="/ui-elements" class="waves-effect waves-dark"><i class="fa fa-desktop"></i> UI Elements</a></li>
					<li><a href="/chart" class="waves-effect waves-dark"><i class="fa fa-bar-chart-o"></i> Charts</a></li>
					<li><a href="/tab-panel" class="waves-effect waves-dark"><i class="fa fa-qrcode"></i> Tabs & Panels</a></li>
					<li><a href="/table" class="waves-effect waves-dark"><i class="fa fa-table"></i> Responsive Tables</a></li>
					<li><a href="/form" class="waves-effect waves-dark"><i class="fa fa-edit"></i> Forms </a></li>
					<li>
						<a href="#" class="waves-effect waves-dark"><i class="fa fa-sitemap"></i> 클랜<span class="fa arrow"></span></a>
						<ul class="nav nav-second-level">
							<li><a href="/clan/teamList" class="active-menu waves-effect waves-dark">팀</a></li>
							<li><a href="#" class="waves-effect waves-dark">리그</a></li>
							<li><a href="#" class="waves-effect waves-dark">내전</a></li>
							<li><a href="#" class="waves-effect waves-dark">통계</a></li>
							<li>
								<a href="#" class="waves-effect waves-dark"><i class="fa fa-sitemap"></i> 관리<span class="fa arrow"></span></a>
								<ul class="nav nav-third-level">
									<li><a href="/clan/clanUsr" class="active-menu waves-effect waves-dark">클랜원</a></li>
									<li><a href="/clan/joinWait" class="waves-effect waves-dark">가입대기</a></li>
									<li><a href="/clan/prbtnUsr" class="waves-effect waves-dark">수습인원</a></li>
									<li><a href="/clan/reaveUsr" class="waves-effect waves-dark">탈퇴인원</a></li>
									<li><a href="/clan/joinApplMngmt" class="waves-effect waves-dark">가입신청서 관리</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li><a href="/empty" class="waves-effect waves-dark"><i class="fa fa-fw fa-file"></i> Empty Page</a></li>
				</ul>
			</div>
		</nav>
</th:block>
</html>