<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>로그인</title>

	<!-- CSS -->
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- Bootstrap Styles-->
	<link href="../assets/css/bootstrap.css" rel="stylesheet" />
	<link rel="stylesheet" href="../assets/materialize/css/materialize.min.css" media="screen,projection" />
	<!-- FontAwesome Styles-->
	<link href="../assets/css/font-awesome.css" rel="stylesheet" />
	<!-- Morris Chart Styles-->
	<link href="../assets/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
	<!-- Custom Styles-->
	<link href="../assets/css/custom-styles.css" rel="stylesheet" />
	<!-- Google Fonts-->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href="../assets/js/Lightweight-Chart/cssCharts.css">
	<link rel="stylesheet" href="assets/css/style.css">

	<!-- Favicon and touch icons -->
	<link rel="shortcut icon" href="assets/ico/favicon.png">
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
</head>
<body>
	<!-- Top content -->
	<div class="top-content">
		<div class="inner-bg">
			<div class="container">
				<div class="row">
					<div class="col-sm-8 col-sm-offset-2 text">
						<h1><strong>LCM</strong></h1>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-5">
						<div class="form-box">
							<div class="form-top">
								<h5>이메일 로그인</h5>
							</div>
							<div class="form-bottom">
								<form role="form" action="" method="post" class="login-form">
									<div class="row">
										<div class="input-field col s12">
											<input id="email" type="email" class="validate">
											<label for="email">이메일 주소</label>
										</div>
									</div>
									<div class="row">
										<div class="input-field col s12">
											<input id="password" type="password" class="validate">
											<label for="password">비밀번호</label>
										</div>
									</div>
									<div class="row">
										<button type="submit" class="btn">이메일 계정 로그인</button>
									</div>
									<div class="text-center">
										<a href="/member/find_id/" class="btn btn-light-theme">아이디 찾기</a>
										<a href="/member/recovery_password/" class="btn btn-light-theme">비밀번호 찾기</a>
									</div>
								</form>
							</div>
						</div>
					</div>
					<div class="col-sm-1 middle-border"></div>
					<div class="col-sm-1"></div>
					<div class="col-sm-5">
						<div class="form-box">
							<div class="form-top">
								<h5>소셜계정으로 로그인</h5>
							</div>
							<div class="form-bottom">
								<div class="social-login-buttons" style="display: flex;">
									<a class="btn btn-link-1 btn-link-1-facebook col s6" href="#">
										<i class="fa fa-facebook"></i> Facebook
									</a>
									<a class="btn btn-link-1 btn-link-1-twitter col s6" href="#">
										<i class="fa fa-twitter"></i> Twitter
									</a>
								</div>
								<div class="social-login-buttons" style="display: flex;">
									<a class="btn btn-link-1 btn-link-1-google-plus col s6" href="#">
										<i class="fa fa-google-plus"></i> Google
									</a>
									<a class="btn btn-link-1 btn-link-1-apple col s6" href="#">
										<i class="fa fa-apple"></i> Apple
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Footer -->
	<footer>
		<div class="container">
			<div class="row">

				<div class="col-sm-8 col-sm-offset-2">
					<div class="footer-border"></div>
					<p>Shared by <i class="fa fa-love"></i><a href="https://bootstrapthemes.co">BootstrapThemes</a></p>
				</div>

			</div>
		</div>
	</footer>

	<!-- Javascript -->
	<script src="assets/js/jquery-1.11.1.min.js"></script>
	<script src="assets/js/jquery.backstretch.min.js"></script>
	<script src="assets/js/scripts.js"></script>
	<script src="../assets/js/jquery-1.10.2.js"></script>

	<!-- Bootstrap Js -->
	<script src="../assets/js/bootstrap.min.js"></script>

	<script src="../assets/materialize/js/materialize.min.js"></script>

	<!-- Metis Menu Js -->
	<script src="../assets/js/jquery.metisMenu.js"></script>
	<!-- Morris Chart Js -->
	<script src="../assets/js/morris/raphael-2.1.0.min.js"></script>
	<script src="../assets/js/morris/morris.js"></script>


	<script src="../assets/js/easypiechart.js"></script>
	<script src="../assets/js/easypiechart-data.js"></script>

	<script src="../assets/js/Lightweight-Chart/jquery.chart.js"></script>

	<!-- Custom Js -->
	<script src="../assets/js/custom-scripts.js"></script>
	<!--[if lt IE 10]>
            <script src="assets/js/placeholder.js"></script>
        <![endif]-->

</body>

</html>