<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default">

<th:block layout:fragment="content">
	<div id="page-wrapper">
		<div class="header">
			<h1 class="page-header">
				리그
			</h1>
			<ol class="breadcrumb">
				<li><a href="#">클랜</a></li>
				<li><a href="#">내전</a></li>
				<li class="active">기록</li>
			</ol>

		</div>

		<div id="page-inner">


			<div class="row">
				<div class="col-md-4 col-sm-12 col-xs-12">
					<div class="card">
						<div class="card-action">
							<b>Tasks Panel</b>
						</div>
						<div class="card-image">
							<div class="collection">
								<a href="#!" class="collection-item">Red<span class="new badge red"
										data-badge-caption="red">4</span></a>
								<a href="#!" class="collection-item">Blue<span class="new badge blue"
										data-badge-caption="blue">4</span></a>
								<a href="#!" class="collection-item"><span class="badge">1</span>Alan</a>
								<a href="#!" class="collection-item"><span class="new badge">4</span>Alan</a>
								<a href="#!" class="collection-item">Alan<span class="new badge blue"
										data-badge-caption="blue">4</span></a>
								<a href="#!" class="collection-item"><span class="badge">14</span>Alan</a>
								<a href="#!" class="collection-item">Custom Badge Captions<span class="new badge"
										data-badge-caption="custom caption">4</span></a>
								<a href="#!" class="collection-item">Custom Badge Captions<span class="badge"
										data-badge-caption="custom caption">4</span></a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-8">
					<div class="card">
						<div class="card-action">
							Advanced Tables
						</div>
						<div class="card-action">
							Advanced Tables
						</div>
						<div class="card-action">
							Advanced Tables
						</div>
						<div class="card-action">
							Advanced Tables
						</div>
						<div class="card-action">
							Advanced Tables
						</div>
						<div class="card-action">
							Advanced Tables
						</div>
						<div class="card-action">
							Advanced Tables
						</div>
						<div class="card-action">
							Advanced Tables
						</div>
					</div>
				</div>
			</div>
		</div>
</th:block>


</html>