<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
      
<th:block layout:fragment="content">
	<!-- /. NAV SIDE  -->
    <div id="page-wrapper" >
		<div class="header"> 
			<h1 class="page-header">팀</h1>
			<ol class="breadcrumb">
				<li class="active">팀 목록</li>
				<li><a href="teamGnrt">팀 생성</a></li>
				<li><a href="myTeamMain">나의 팀</a></li>
			</ol> 
		</div>
		<div id="page-inner"> 
			<!-- /. ROW  -->
			<div class="row">
				<div class="col-md-4 col-sm-4">
					<div class="card">
						<div class="card-image waves-effect waves-block waves-light">
							<img class="activator" src="https://menu.mt.co.kr/moneyweek/thumb/2021/01/08/06/2021010807598021218_1.jpg">
						</div>
						<div class="card-content">
							<span class="card-title activator grey-text text-darken-4">팀 1<i class="material-icons right">more_vert</i></span>
							<p><a href="#">가입신청</a></p>
						</div>
						<div class="card-reveal">
							<span class="card-title grey-text text-darken-4">팀 1<i class="material-icons right">close</i></span>
							<p>팀장 : zerokick</p>
							<p>인원 : 5</p>
							<p>클랜 내전 순위 : 1위</p>
							<p>클랜 내전 전적 : 11승 2무 0패</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="card">
						<div class="card-image waves-effect waves-block waves-light">
							<img class="activator" src="https://menu.mt.co.kr/moneyweek/thumb/2021/01/08/06/2021010807598021218_1.jpg">
						</div>
						<div class="card-content">
							<span class="card-title activator grey-text text-darken-4">팀 2<i class="material-icons right">more_vert</i></span>
							<p><a href="#">가입신청</a></p>
						</div>
						<div class="card-reveal">
							<span class="card-title grey-text text-darken-4">팀 2<i class="material-icons right">close</i></span>
							<p>팀장 : zerokick</p>
							<p>인원 : 5</p>
							<p>클랜 내전 순위 : 1위</p>
							<p>클랜 내전 전적 : 11승 2무 0패</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="card">
						<div class="card-image waves-effect waves-block waves-light">
							<img class="activator" src="https://menu.mt.co.kr/moneyweek/thumb/2021/01/08/06/2021010807598021218_1.jpg">
						</div>
						<div class="card-content">
							<span class="card-title activator grey-text text-darken-4">팀 3<i class="material-icons right">more_vert</i></span>
							<p><a href="#">가입신청</a></p>
						</div>
						<div class="card-reveal">
							<span class="card-title grey-text text-darken-4">팀 3<i class="material-icons right">close</i></span>
							<p>팀장 : zerokick</p>
							<p>인원 : 5</p>
							<p>클랜 내전 순위 : 1위</p>
							<p>클랜 내전 전적 : 11승 2무 0패</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="card">
						<div class="card-image waves-effect waves-block waves-light">
							<img class="activator" src="https://menu.mt.co.kr/moneyweek/thumb/2021/01/08/06/2021010807598021218_1.jpg">
						</div>
						<div class="card-content">
							<span class="card-title activator grey-text text-darken-4">팀 4<i class="material-icons right">more_vert</i></span>
							<p><a href="#">가입신청</a></p>
						</div>
						<div class="card-reveal">
							<span class="card-title grey-text text-darken-4">팀 4<i class="material-icons right">close</i></span>
							<p>팀장 : zerokick</p>
							<p>인원 : 5</p>
							<p>클랜 내전 순위 : 1위</p>
							<p>클랜 내전 전적 : 11승 2무 0패</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="card">
						<div class="card-image waves-effect waves-block waves-light">
							<img class="activator" src="https://menu.mt.co.kr/moneyweek/thumb/2021/01/08/06/2021010807598021218_1.jpg">
						</div>
						<div class="card-content">
							<span class="card-title activator grey-text text-darken-4">팀 5<i class="material-icons right">more_vert</i></span>
							<p><a href="#">가입신청</a></p>
						</div>
						<div class="card-reveal">
							<span class="card-title grey-text text-darken-4">팀 5<i class="material-icons right">close</i></span>
							<p>팀장 : zerokick</p>
							<p>인원 : 5</p>
							<p>클랜 내전 순위 : 1위</p>
							<p>클랜 내전 전적 : 11승 2무 0패</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="card">
						<div class="card-image waves-effect waves-block waves-light">
							<img class="activator" src="https://menu.mt.co.kr/moneyweek/thumb/2021/01/08/06/2021010807598021218_1.jpg">
						</div>
						<div class="card-content">
							<span class="card-title activator grey-text text-darken-4">팀 6<i class="material-icons right">more_vert</i></span>
							<p><a href="#">가입신청</a></p>
						</div>
						<div class="card-reveal">
							<span class="card-title grey-text text-darken-4">팀 6<i class="material-icons right">close</i></span>
							<p>팀장 : zerokick</p>
							<p>인원 : 5</p>
							<p>클랜 내전 순위 : 1위</p>
							<p>클랜 내전 전적 : 11승 2무 0패</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="card">
						<div class="card-image waves-effect waves-block waves-light">
							<img class="activator" src="https://menu.mt.co.kr/moneyweek/thumb/2021/01/08/06/2021010807598021218_1.jpg">
						</div>
						<div class="card-content">
							<span class="card-title activator grey-text text-darken-4">팀 7<i class="material-icons right">more_vert</i></span>
							<p><a href="#">가입신청</a></p>
						</div>
						<div class="card-reveal">
							<span class="card-title grey-text text-darken-4">팀 7<i class="material-icons right">close</i></span>
							<p>팀장 : zerokick</p>
							<p>인원 : 5</p>
							<p>클랜 내전 순위 : 1위</p>
							<p>클랜 내전 전적 : 11승 2무 0패</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="card">
						<div class="card-image waves-effect waves-block waves-light">
							<img class="activator" src="https://menu.mt.co.kr/moneyweek/thumb/2021/01/08/06/2021010807598021218_1.jpg">
						</div>
						<div class="card-content">
							<span class="card-title activator grey-text text-darken-4">팀 8<i class="material-icons right">more_vert</i></span>
							<p><a href="#">가입신청</a></p>
						</div>
						<div class="card-reveal">
							<span class="card-title grey-text text-darken-4">팀 8<i class="material-icons right">close</i></span>
							<p>팀장 : zerokick</p>
							<p>인원 : 5</p>
							<p>클랜 내전 순위 : 1위</p>
							<p>클랜 내전 전적 : 11승 2무 0패</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="card">
						<div class="card-image waves-effect waves-block waves-light">
							<img class="activator" src="https://menu.mt.co.kr/moneyweek/thumb/2021/01/08/06/2021010807598021218_1.jpg">
						</div>
						<div class="card-content">
							<span class="card-title activator grey-text text-darken-4">팀 9<i class="material-icons right">more_vert</i></span>
							<p><a href="#">가입신청</a></p>
						</div>
						<div class="card-reveal">
							<span class="card-title grey-text text-darken-4">팀 9<i class="material-icons right">close</i></span>
							<p>팀장 : zerokick</p>
							<p>인원 : 5</p>
							<p>클랜 내전 순위 : 1위</p>
							<p>클랜 내전 전적 : 11승 2무 0패</p>
						</div>
					</div>
				</div>
			</div>
			<!-- /. ROW  --> 
			<footer><p>Shared by <i class="fa fa-love"></i><a href="https://bootstrapthemes.co">BootstrapThemes</a></p></footer>
		</div>
		<!-- /. PAGE INNER  -->
	</div>
	<!-- /. PAGE WRAPPER  -->
</th:block>
</html>
