<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default">

<th:block layout:fragment="content">
	<!-- /. NAV SIDE  -->
	<div id="page-wrapper">
		<div class="header">
			<h1 class="page-header">팀</h1>
			<ol class="breadcrumb">
				<li><a href="teamList">팀 목록</a></li>
				<li class="active">팀 생성</li>
				<li><a href="myTeamMain">나의 팀</a></li>
			</ol>
		</div>
		<div id="page-inner">
			<div class="row">
				<div class="col-lg-12">
					<div class="card">
						<div class="card-action">
							신청서
						</div>
						<div class="card-content">
							<form class="col s12">
								<div class="row">
									<div class="input-field col s6">
										<input id="teamNm" type="text" class="validate">
										<label for="teamNm">팀 이름</label>
									</div>
								</div>
								<div class="row">
									<div class="input-field col s12">
										<input id="teamCmt" type="text" class="validate">
										<label for="teamCmt">팀 코멘트</label>
									</div>
								</div>
								<div class="row">
									<div class="input-field col s12">
										<input id="teamIntr" type="text" class="validate">
										<label for="teamIntr">팀 소개</label>
									</div>
								</div>
								<div class="row">
									<a class="waves-effect waves-light btn">신청</a>
									<a class="waves-effect waves-light btn">취소</a>
								</div>
							</form>
							<div class="clearBoth"></div>
						</div>
					</div>
				</div>
			</div>
			<!-- /.col-lg-12 -->
			<footer>
				<p>Shared by <i class="fa fa-love"></i><a href="https://bootstrapthemes.co">BootstrapThemes</a></p>
			</footer>
		</div>
		<!-- /. PAGE INNER  -->
	</div>
	<!-- /. PAGE WRAPPER  -->
</th:block>

</html>